body
{
    text-align: center;
}

h1
{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#app
{
    background-color: lightcoral;
}

#game
{
    background-color: aquamarine;
}

.line
{
    height: 6px;
    background-color: black;
    width: 80px;
    margin: 8px auto;
}

#chatbot
{
    background-color: lightskyblue;
}